* {
  margin: 0;
  padding: 0;
}

.heading {
  margin: 1rem;
}

.book-list{
  border: 1px solid black;
  padding: 0.5rem;
}

.book-ul {
  padding: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  padding-bottom: 3%;
}

.title-container {
  display: flex;
  width: 70%;
}

#titlep {
  padding-right: 4%;
}

#authorp {
  display: flex;
}

.delete {
  width: 30%;
}