* {
  margin: 0;
  padding: 0;
}

.heading {
  margin: 1rem;
}

.book-list{
  border: 2px solid #444;
  width: 96%;
}

.book-ul {
  padding: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.list-item:nth-child(odd) {
  background-color: #eee;
}

.title-container {
  display: flex;
  width: 70%;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete {
  box-shadow: 2px 2px 4px #000;
}

#titlep {
  padding-right: 4%;
}

#authorp {
  display: flex;
}

.add-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.div-form {
  display: flex;
  flex-direction: column;
}